<div class="ant-spin-container ng-star-inserted">
    
    <nz-steps [nzCurrent]="current">
      <nz-step nzTitle="Client" nzIcon="user-add" ></nz-step>
    </nz-steps>

    <!-- Informations Client -->
    <div class="steps-content" *ngIf="current === 0" >
        
        <form [formGroup]="currencyForm" (ngSubmit)="SaveCurrency()" > 
            
            <nz-collapse class="ant-collapse ant-collapse-icon-position-left" >
                
                <nz-collapse-panel [nzActive]="true" [nzHeader]="header" class="ant-collapse-item ant-collapse-item-active ng-star-inserted" >
                    
                    <div nz-row [nzGutter]="24">

                        <div nz-col [nzSpan]="12">
                            
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10">Nom Devise</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Champ requis">
                                    <input nz-input formControlName="currencyName" name="currencyName" required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input" />
                                </nz-form-control>
                            </nz-form-item>

                            <nz-form-item>
                                <nz-form-label [nzSpan]="10">Code ISO</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="Champ requis">
                                    <input nz-input formControlName="codiso" name="codiso" required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input" />
                                </nz-form-control>
                            </nz-form-item>

                        </div>
                        
                        <div nz-col [nzSpan]="12">

                            <nz-form-item>
                                    <nz-form-label [nzSpan]="10">Utilisateur</nz-form-label>
                                    <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="required">
                                        <input nz-input name="user" formControlName="user" [ngModel]="sessionData" required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input" readonly />
                                    </nz-form-control>
                            </nz-form-item>

                        </div>


                    </div>

                </nz-collapse-panel>

            </nz-collapse>

        </form>
                            
    </div>



    <div class="steps-action">
      
      <button nz-button nzType="primary" (click)="SaveCurrency()" [disabled] = "!currencyForm.valid" >
        <span>Sauvegarder</span>
      </button>
     
      <button nz-button nzType="primary"  >
        <span>Imprimer</span>
      </button>

    </div>

</div>