<div class="ant-spin-container ng-star-inserted">

        <form [formGroup]="dateListForm"> 
            <nz-collapse class="ant-collapse ant-collapse-icon-position-left" >

                <nz-collapse-panel [nzActive]="true" [nzHeader]="header" class="ant-collapse-item ant-collapse-item-active ng-star-inserted" >
                    <div nz-row [nzGutter]="24">

                        <div nz-col [nzSpan]="12">
                            <nz-form-item>
                                <nz-form-label [nzSpan]="10">Date Debut</nz-form-label>
                                <nz-form-control [nzSpan]="12"nzHasFeedback>
                                    <nz-date-picker name="date_debut" formControlName="date_debut" [nzFormat]="dateFormat" required></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row [nzGutter]="24">
                        <div nz-col [nzSpan]="12">

                            <nz-form-item>
                                <nz-form-label [nzSpan]="10">Date Fin</nz-form-label>
                                <nz-form-control nzHasFeedback [nzSpan]="12" nzErrorTip="required">
                                    <nz-date-picker name="date_fin" formControlName="date_fin" [nzFormat]="dateFormat"  required class="ant-input ng-pristine ng-valid ng-touched" ng-reflect-model="Required Input"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>

                        </div>


                    </div>

                </nz-collapse-panel>

            </nz-collapse>

        </form>

    <div class="steps-action">
        <button nz-button nzType="primary" (click)="printFileList()" [disabled] = "!dateListForm.valid">
          <span>Check and print</span>
        </button>
    </div>
</div>